name: Continuous Integration
on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    strategy:
      matrix:
        architecture: [amd64, arm64]
    runs-on: ${{ matrix.architecture == 'arm64' && 'ubuntu-24.04-arm' || 'ubuntu-latest' }}
    outputs:
      snap: ${{ steps.build.outputs.snap }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup GitHub Action Cache script
        uses: actions/github-script@v7
        with:
          script: |
            const fs = require('fs');
            const path = require('path');
            const targetDir = path.join(process.env.GITHUB_WORKSPACE, "setup_env.sh");
            const envVars = {
              SCCACHE_GHA_ENABLED: "on",
              ACTIONS_CACHE_SERVICE_V2: "on",
              ACTIONS_RUNTIME_TOKEN: process.env['ACTIONS_RUNTIME_TOKEN'],
              ACTIONS_RESULTS_URL: process.env['ACTIONS_RESULTS_URL'],
            };
            const content = Object.entries(envVars)
                            .filter(([_, value]) => value !== undefined)
                            .map(([key, value]) => `export ${key}="${value}"`)
                            .join('\n')
            fs.writeFileSync(targetDir, content);

      - uses: snapcore/action-build@v1
        id: build
        with:
          snapcraft-channel: "8.x/stable"

  upload-snap:
    name: Upload snap
    needs: build
    strategy:
      matrix:
        architecture: [amd64, arm64]
    runs-on: ubuntu-latest
    steps:
    - name: Upload the built snap 
      uses: actions/upload-artifact@v6
      with:
        name: pwman-${{ matrix.architecture }}
        path: ${{ needs.build.outputs.snap }}
