name: Continuous Integration
on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    strategy:
      matrix:
        architecture: [amd64, arm64]
    runs-on: ${{ matrix.architecture == 'arm64' && 'ubuntu-24.04-arm' || 'ubuntu-latest' }}
    outputs:
      snap: ${{ steps.build.outputs.snap }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - uses: soumyaDghosh/action-build@master
        id: build
        env:
          MY_VAR: "some_value"
        with:
          snapcraft-channel: "8.x/stable"
          enable-github-cache: "true"

      - name: Upload the built snap 
        uses: actions/upload-artifact@v6
        with:
          name: pwman-${{ matrix.architecture }}
          path: ${{ steps.build.outputs.snap }}
