name: Continuous Integration
on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      # These tell sccache to use the GHA backend and wrap the compiler
      SCCACHE_GHA_ENABLED: "true"
      RUSTC_WRAPPER: "sccache"

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup GitHub Action Cache script
        uses: actions/github-script@v7
        with:
          script: |
            const fs = require('fs');
            const path = require('path');
            const targetDir = path.join(process.env.GITHUB_WORKSPACE, "setup_env.sh");
            const envVars = {
              SCCACHE_GHA_ENABLED: "on",
              ACTIONS_CACHE_SERVICE_V2: "on",
              ACTIONS_RUNTIME_TOKEN: process.env['ACTIONS_RUNTIME_TOKEN'],
              ACTIONS_RESULTS_URL: process.env['ACTIONS_RESULTS_URL'],
            };
            const content = Object.entries(envVars)
                            .filter(([_, value]) => value !== undefined)
                            .map(([key, value]) => `export ${key}="${value}"`)
                            .join('\n')
            fs.writeFileSync(targetDir, content);

      - uses: snapcore/action-build@v1
        id: build
        with:
          snapcraft-channel: "8.x/stable"
          snapcraft-args: "--verbosity debug"
